@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --body-color: #ff9cff;
    --container-color: #d250d2;
}

body {
    background-color: var(--body-color);
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    height: 100vh;
    font-family: 'Merriweather', serif;
}

.container {
    margin-inline: auto;
    width: 100%;
    background-color: var(--container-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 90%;
    transition: transform 0.5s ease-in-out;
    padding: 50px;
    padding-inline: 80px;
    margin-left: 30px;
    margin-right: 50px;
}

.card {
    width: 60vw;
    /* Menggunakan min-width agar kartu tidak terpotong terlalu banyak */
    margin: 0 10px;
    /* Margin antar kartu */
    flex: 0 0 auto;
    /* Kartu memiliki lebar tetap agar tidak saling menimpa */
    border: 1px solid #ddd;
    /* Tambahkan garis tepi untuk efek menarik */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 400;
    font-size: 12pt;
    line-height: 25px;
    position: relative;
}

.card:nth-child(3) {
    padding-top: 8px;
}

.card:nth-child(2) p {
    margin-left: 26px;
    margin-top: 25px;
}

.card:nth-child(3) p {
    margin-left: 16px;
}

.card span {
    padding-top: 20px;
    font-style: italic;
    letter-spacing: 1px;
}

/* Efek transisi box-shadow saat kartu dihover */
.card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Tombol untuk menggeser ke kiri */
.prev-btn,
.next-btn {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #000000;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgba(0, 0, 0, 0.293);
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}

.gambar-6 img {
    width: 100px;
    position: absolute;
    top: -70px;
    right: -10px;
}

.gambar-5 img {
    width: 70px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.gambar-1 img {
    width: 70px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.gambar-2 img {
    width: 90px;
    position: absolute;
    bottom: -5px;
    right: 2px;
}

.play-button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-top: 400px;
    border: 1px solid black;
    position: absolute;
    bottom: 80px;
    left: 10rem;
}





















@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        /* background-color: var(--body-color);
        box-sizing: border-box; */
    }

    .container {
        /* margin-inline: auto;
        width: 90%;
        background-color: var(--container-color); */
    }
}